ion-app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.small-modal{
    .modal-wrapper {
        position: absolute;
        bottom: 0;
        min-height: initial;
        top: initial;
        height: 50%;
    }
}