<app-header>
</app-header>

<ion-content >
  <!-- <ion-item>
    <img [src]="imageSrc" (click)="selectImage()"/>
  </ion-item> -->
  <form [formGroup]="itemForm" class="content">
    <app-image-carousel>

    </app-image-carousel>
    <ion-item>
      <ion-label>Temporada</ion-label>
      <ion-select placeholder="Selecciona uno" formControlName="season">
        <ion-select-option value="verano">Verano</ion-select-option>
        <ion-select-option value="invierno">Invierno</ion-select-option>
        <ion-select-option value="entreTiempo">Entre Tiempo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Typo de complemento</ion-label>
      <ion-select placeholder="Selecciona uno" formControlName="type">
        <ion-select-option value="top">Top</ion-select-option>
        <ion-select-option value="cropTop">Crop Top</ion-select-option>
        <ion-select-option value="outFit">Sudadera</ion-select-option>
        <ion-select-option value="outFit">Jersey</ion-select-option>
        <ion-select-option value="outFit">Jeans/Vaqueros </ion-select-option>
        <ion-select-option value="falda">Falda</ion-select-option>
        <ion-select-option value="bestido">Bestido</ion-select-option>
        <ion-select-option value="sweetPants">SweetPants</ion-select-option>
        <ion-select-option value="pendiente">Pendientes</ion-select-option>
        <ion-select-option value="collares">Collar</ion-select-option>
        <ion-select-option value="pulsera">Pulsera</ion-select-option>
        <ion-select-option value="boso">Bolso</ion-select-option>
        <ion-select-option value="botas">Botas</ion-select-option>
        <ion-select-option value="zapDeporte">Zapatillas de deporte</ion-select-option>
        <ion-select-option value="zapVestir">Zapatos de vestir</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input placeholder="Name" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-input placeholder="Descripcion" formControlName="description"></ion-input>
    </ion-item>

    <div class="buttons">
      <ion-button>
        Cancelar
      </ion-button>
      
      <ion-button (click)="saveItem()">
        Guardar
      </ion-button>
    </div>
  </form>

</ion-content>