<ion-list>
  <!-- <ion-list-header *ngIf="header"> {{header}}
    <ion-item>
      <ion-input >
      </ion-input>
      <ion-icon name="eye" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button></ion-button>
    </ion-item>

  </ion-list-header> -->

  <ion-item button *ngFor="let item of listItem" (click)="itemClick.emit(item)">
    <ion-avatar *ngIf="item.image">
    </ion-avatar>
      <ion-title>{{ item.name }}</ion-title>
      <ion-text> {{ item.description}}</ion-text>
      <ion-text>{{ item.type }}</ion-text>
    <ion-button slot="end" fill="clear" (click)="deleteClick.emit(item); $event.stopPropagation()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>